body {
    width: 100vw;
    height: 100vh; 
    background-image: url('Imgfreddy1.jpeg');
    background-size: cover; 
    background-position: center; 
    animation: animacion-imagenes 6s steps(1) infinite;
}


@keyframes animacion-imagenes{
    0% {
        background-image: url('Imgfreddy1.jpeg');
    }

    10% {
        background-image: url('Imgfreddy1.jpeg');
    }

    15% {
        background-image: url('imgfreddy2.jpeg');
    }

    25% {
        background-image: url('imgfreddy2.jpeg');
    }

    35% {
        background-image: url('Imgfreddy1.jpeg');
    }

    45% {
        background-image: url('Imgfreddy1.jpeg');
    }

    55% {
        background-image: url('imgfreddy2.jpeg');
    }


    65% {
        background-image: url('imgfreddy2.jpeg');
    }


    75% {
        background-image: url('imgfreddy3.jpeg');
    }


    80% {
        background-image: url('imgfreddy3.jpeg');
    }

    85% {
        background-image: url('imgfreddy4.jpeg');
    }

    90% {
        background-image: url('imagfreddy5.jpeg');
    }


    95% {
        background-image: url('imagfreddy5.jpeg');
    }


    100% {
        background-image: url('imagfreddy5.jpeg');
    }

}






/* ----------------------------------------------- */


@font-face {
    font-family: 'MeltedMoster';
    src: url(Melted\ Monster.ttf)
    format('TrueType');
    
}


/* ----------------------------------------------- */
.menu {
    background-color: rgb(0, 0, 0); 
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
    font-family: 'MeltedMoster',sans-serif;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    margin: 0 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    display: block;
    
}

.menu ul li a:hover {
    background-color: rgba(245, 239, 239, 0.863); 
    color: red;
    cursor: pointer;
    transform: scale(1.4);
}




/* ----------------------------------------------- */



@media (max-width: 768px) {
    .menu {
        display: none; 
    }
}



/* ----------------------------------------------- */


.medeplejable-toggle {
    position: fixed;
    top: 5px;
    right: 20px;
    z-index: 1000;
}

.medeplejable-toggle input[type="checkbox"] {
    display: none;
}



.medeplejable-icon {
    display: inline-block;
    cursor: pointer;
}

.medeplejable-icon img {
    width: 60px; 
    height: auto;
    border-radius: 50%; 
    border: 2px solid #dfdfdf; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease;
}



.medeplejable-icon :hover{
    cursor: pointer;
    transform: scale(1.2);
}



.medeplejable {
    display: none;
    position: absolute;
    top: 80px; 
    right: 10px; 
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
}

.medeplejable ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.medeplejable ul li {
    margin-bottom: 10px;
}

.medeplejable ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    transition: color 0.3s ease;
}

.medeplejable ul li a:hover {
    color: #ff0c0c;
}

#toggle:checked ~ .medeplejable {
    display: block; 
}


#toggle:checked + .medeplejable-icon img {
    transform: rotate(90deg); 
}












/* ----------------------------------------------- */
.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.texto {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 580px; 
    height: 250px;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 150px; 
    cursor: pointer;
    transition: transform 0.3s ease;
}



.texto {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 580px; 
    height: 250px;
    margin-bottom: 50px; 
    text-align: center;
    margin-top: 150px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.texto h1 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'MeltedMoster';
}


.texto h1:hover{
    cursor: pointer;
    transform: scale(1.4);
    color: red;
}

.texto p {
    font-size: 30px;
    line-height: 1.5;
    text-align: left;
}

.texto p:hover{
    cursor: pointer;
    transform: scale(1.4);
}


.texto:hover {
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
}





.imagen {
    width: 558px; 
    margin-top: 30px; 
    margin-bottom: 10px;
    margin-top: 120px; 
}


.imagen :hover{
    cursor: pointer;
    transform: scale(1.4);
}

.imagen img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}


/* ----------------------------------------------- */

@media (max-width: 768px) {
    .contenido {
        flex-direction: column; 
        align-items: center; 
    }

    .texto {
        width: 80%; 
        margin-bottom: 30px; 
        margin-top: 30px; 
    }

    .imagen {
        width: 80%; 
        margin-top: 30px; 
        margin-bottom: 20px; 
    }
}


